<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true" syntaxCheck="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/unit</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory suffix="Test.php">./tests/functional</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="\KleijnWeb\SwaggerBundle\Tests\Functional\TestCacheSmashingPHPUnitListener"/>
    </listeners>

    <filter>
        <whitelist>
            <directory>./src/</directory>
            <exclude>
                <directory>./src/DependencyInjection</directory>
                <file>./src/KleijnWebSwaggerBundle.php</file>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <server name="KERNEL_DIR" value="./tests/functional/PetStore/app"/>
    </php>
</phpunit>
